.sliderTrack {
    display: flex;
    width: max-content;
    animation: scrollText 70s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        /* Muda de -100% para -50% */
        transform: translateX(-50%);
    }
}